/*
Meatballs Menu
source: https://codepen.io/aaronegarcia1/pen/JjeqgoP?anon=true&view=pen (05.07.2024)
 */

.meatball {
  border: none;
  width: 1rem;
  height: 1rem;
  background: none;
  cursor: pointer;
  transition: 0.5s ease;
  transform: scale(0.5);

  .dot {
    position: absolute;
    top: 50%;
    left: 50%;
    width: 0.5rem;
    height: 0.5rem;
    border-radius: 50%;
    background: white;
    transition: width 0.3s ease 0s, height 0.3s ease 0s, transform 0.3s ease 0.3s;

    &:nth-of-type(1) {
      transform: translate(calc(-50% - 0.7rem), -50%) rotate(45deg);
    }

    &:nth-of-type(2) {
      transform: translate(-50%, -50%);
      transition: 0.4s ease 0.1s;
    }

    &:nth-of-type(3) {
      transform: translate(calc(-50% + 0.7rem), -50%) rotate(-45deg);
    }
  }

  &:hover {

    .dot {

      &:nth-of-type(1) {
        animation: flicker 0.4s linear;
      }

      &:nth-of-type(2) {
        animation: flicker 0.4s linear 0.05s;
      }

      &:nth-of-type(3) {
        animation: flicker 0.4s linear 0.1s;
      }
    }
  }

  &.active {
    transform: rotate(180deg) scale(0.5);

    .dot {
      transition: width 0.4s ease 0.3s, height 0.4s ease 0.3s, transform 0.2s ease;

      &:nth-of-type(1) {
        width: 2rem;
        height: 0.3rem;
        border-radius: 1rem;
        transform: translate(-50%, -50%) rotate(45deg);
      }

      &:nth-of-type(2) {
        width: 0;
        height: 0;
      }

      &:nth-of-type(3) {
        width: 2rem;
        height: 0.3rem;
        border-radius: 1rem;
        transform: translate(-50%, -50%) rotate(-45deg);
      }
    }

    &:hover {

      .dot {
        animation: none;
      }
    }
  }
}

@keyframes flicker {
  0% {
    opacity: 1;
  }
  50% {
    opacity: 0.2;
  }
  100% {
    opacity: 1;
  }
}