// Colors
// Primary colors
$blue: hsl(246, 80%, 60%);
$light-orange: hsl(15, 100%, 70%);
$soft-blue: hsl(195, 74%, 62%);
$light-red: hsl(348, 100%, 68%);
$lime-green: hsl(145, 58%, 55%);
$violet: hsl(264, 64%, 52%);
$soft-orange: hsl(43, 84%, 65%);

// Neutral colors
$very-dark-blue: hsl(226, 43%, 10%);
$dark-blue: hsl(235, 46%, 20%);
$desaturated-blue: hsl(235, 45%, 61%);
$pale-blue: hsl(236, 100%, 87%);


// Font Sizes
$font-h1-l: 3rem; // 48px
$font-h1-s: 2rem; // 36px
$font-h2-l: 2rem; // 32px
$font-h2-s: 1.375rem; // 36px
$font-m: 1rem; // 16px
$font-s: 0.875rem; // 14px

// Font Weights
$font-weight-m: 500;
$font-weight-m: 400;
$font-weight-s: 300;
